@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');

body {
    font-family: 'Heebo', "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    background: cornsilk;
    margin: 0;
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
}

h1, h2 {
    font-family: 'Oswald';
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
img {
    width: 33%;
    height: auto;
}
header, main {
    padding: 10px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    border-bottom: 1px solid orange;
}

h1 {
    margin: 0 20px;
    flex-grow: 1;
}

.options {
    padding: 10px 0;
}

section {
    margin: 20px auto;
    width: 90%;
    min-width: 650px;
}
.info-container
{
font-size: 1.5em;
margin-left: 20px;
}

.pokemon {
    display: flex;
    flex-wrap: wrap;
}
.pokemon li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    width: 200px;
    min-width: 200px;
    border: 1px solid black;
    background-color: white;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px;

}
.pokemon li h2{
    font-size: 1.5em;
    margin-right: 20px;
}

.pokemon li .pokemon-type {
    font-size: .8em;
    color: black;

}
.pokemon li .hp {
    font-size: .8em;
}
.image-container {
    height: 50%
}
.image-container img {
    height: 100%;
    object-fit: contain;
}
.pokemon-type-filter {
    height: 40px;
    width: 150px;
    font-size: 1.2em;
}